<nav class="flex sticky top-2 bg-white items-center justify-between flex-wrap px-5 py-5 border-b">
  <a href="/" class="text-xl tracking-tight">{% image "src/img/djk-tanzkreis-logo.png", "Logo DJK Tanzkreis", "20vw" %} Tanzkreis Sulzbachtal e.V.</a>

  <ul>
    {% for entry in collections.all | eleventyNavigation %}
      <li class="inline">
        <a href="{{ entry.url }}" class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block {{'bg-black text-white' if entry.url in page.url else 'text-gray-700 hover:text-gray-900'}}">
         {{ entry.title }}
       </a>
      </li>
    {% endfor %}
  {% include "../components/social_links.njk" %}
 </ul>
</nav>
