<li class="inline"><a
href="https://www.facebook.com/people/DJK-Tanzkreis-Sulzbachtal-eV/100057258355067/"
class="inline-block align-middle">
<img src="/icons/facebook_black_58.png" width="40" alt="Facebook Logo">
</a></li>

