<!doctype html>
<html lang="de">
  <head>
    <title>{{ title }}</title>
     <link rel="stylesheet" type="text/css" href="/styles/main.css" />
     <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Atom feed für Tanzkreis Sulzbachtal" />
     <meta charset="utf-8">
  </head>
  <body>
    {% include "../components/navigation.njk" %}
    <main class="p-12">
      {{ content | safe }}
    </main>
  </body>
</html>
