<!doctype html>
<html lang="de">
  <head>
    <title>{{ title }}</title>
     <link rel="stylesheet" type="text/css" href="/styles/main.css" />
     <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Atom feed für Tanzkreis Sulzbachtal" />
     <meta charset="utf-8">
     <meta name="author" content="DJK Tanzkreis Sulzbach eV">
     <meta name="publisher" content="Guido Schneider">
     <meta name="copyright" content="DJK Tanzkreis Sulzbach eV">
     <meta name="description" content="Tanzkreise in Sulzbach, Discofox, Standard, Latein. Spaß an der Bewegung ohne Leistungsdruck, für jedes Alter.">
     <meta name="keywords" content="Tanzkreis, Standardtanz, Tanzschule, Lateintanz, Discofox, Tanzen, lernen, Tanzverein">
     <meta name="page-topic" content="Sport">
     <meta name="audience" content="Alle">
     <meta http-equiv="content-language" content="de">
     <meta name="robots" content="index, follow">
  </head>
  <body>
    {% include "../components/navigation.njk" %}
    <main class="p-12">
      {{ content | safe }}
    </main>
  </body>
</html>
