---
title: Aktuelles
layout: layouts/base.njk
pagination:
    data: collections.posts
    size: 10
    alias: postslist
    reverse: true
eleventyNavigation:
  key: Aktuelles
  order: 2
---
{% include "components/postslist.njk" %}
{% include "components/blog_nav.njk" %}
