---
title: Aktuelles
layout: layouts/base.njk
permalink: /aktuelles/
eleventyNavigation:
  key: Aktuelles
  order: 2
---
{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
